$primary: #4D53EF;
$secondary: #52CF4F;
$accent: #F3F3F3;
$danger: #D91313;
$muted: #AFAFAF;
$text-color: #000;
$text-accent: #A3A3A3;
$text-foreground-color: #FFF;
$background-color: #FFF;
$background-secondary-color: #BDBDBD;
$border: #D8D8D8;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1366px;