.input {
  border-radius: 5px;
  border: 1px solid vars.$border;
  outline: none;
  padding: 5px 10px;

  &:focus {
    border-color: vars.$text-color;
  }

  &::placeholder {
    color: rgba(0, 0, 0, .3);
  }

  &:disabled {
    background-color: inherit;
    color: rgba(0, 0, 0, .3);
  }
}


.danger {
  border-color: vars.$danger;
}
