.container {
  padding: 2rem;
  height: calc(100vh - 4rem);
  max-width: calc(85vw - 4rem);
  width: 100%;
  min-width: 425px;

  h3 {
    margin: 0;
    
  }
}

.userList {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  overflow-y: auto;
  height: calc(100% - 4rem);
  margin-right: -16px;
  padding-right: 16px;
  
  li {
    background-color: vars.$accent;
    padding: .625rem;
    border-radius: .5rem;

    p {
      margin: 0;
    }

    p:nth-child(2) {
      margin: .5rem 0;
    }
  }

  & li:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  &::-webkit-scrollbar {
    padding-left: 10px;
    margin: 10px;
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    
  }

  &::-webkit-scrollbar-thumb {
    background-color: vars.$accent;
    border-radius: 10px; 
  }

  &::-webkit-scrollbar-button {
    border-radius: 5px;
    width: 0;
    height: 0;
    display: hidden;
  }
}

.label {
  color: vars.$text-accent;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  a {
    color: vars.$primary;
    cursor: pointer;
    text-decoration: none;
  }
}

.usersCount {
  float: right;
  margin: 0;
}